name: test

on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install package and pytest
      run: |
        pip install -U .
        pip install pytest
    - name: Run tests
      run: |
        echo "On this machine \$LANG=$LANG"
        echo "Checking our own docstrings are valid RST"
        flake8 --select RST setup.py flake8_rst_docstrings.py
        pytest --verbose
